rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    
    match /notes/{document=**} {
      allow read, write: if request.auth.uid == resource.data.uid;
      allow create, update: if request.auth.uid == resource.data.uid;
      allow delete: if request.auth.uid == resource.data.uid;

    }
  }
}